
<ol class="post-list">
    {{#each posts as |post|}}
    <li>
       {{!-- {{> post-info post}}  --}}
       {{!-- to use a partial, we just need '>' and then name of the partial file and object we will pass to partial --}}
       <article class="post">
  <div class="title" >
    <a href="/post/{{id}}" target="_blank" id="post-title">{{title}}</a>
  </div>
  
  <div class="meta">
   by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
  </div>
</article>
    </li>
    {{/each}}
</ol>